@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

/* CSS Homepage */

body {
    width: 1440px;
    height: 100vh;
    padding: 0;
    margin: auto;
}

.cabecalho {
    display: flex;
    height: 467px;
    flex-direction: column;
    box-sizing: border-box;
     
}

.cabecalho__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 1440px;
    height: 115px;
    background: #FFFFFF;
    align-self: stretch;
}

.cabecalho__nav__logoebarra {
    width: 1136px;
    height: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: auto;
    margin: 0 152px;
}

.cabecalho__nav__logoebarra__pesquisa {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 601px;
}

.cabecalho__nav__logoebarra__pesquisa form {
    background: #F5F5F5;
    border-radius: 20px;
}

.cabecalho__nav__logoebarra__pesquisa__barra {
    margin: 5px;
    border: 0;
    background-color: #F5F5F5;
    width: 339px;
}


.cabecalho__nav__logoebarra__pesquisa__botao {
    margin: 5px;
    border: 0;
    background-color: #F5F5F5;
}

.cabecalho__nav__logoebarra__pesquisa__botao:hover {
    cursor: pointer;
}

.cabecalho__nav__login {
    border: solid;
    border-color: #2A7AE4;
    border-width: 1px;
    width: 182px;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px; 
    color: #2A7AE4;  
}

.cabecalho__banner {
    box-sizing: border-box;
    height: 352px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(imagens/banner.png);
    align-items: center;
}

.cabecalho__banner__texto {
    height: 286px;
    width: 1136px;
    margin: 34px 152px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.cabecalho__banner__texto h1 {
    font-size: 52px;
    margin: 0;
}

.cabecalho__banner__texto p {
    font-size: 22px;
    margin: 0;
}

.cabecalho__banner__texto a {
    color: white;
    background: #2A7AE4;
    width: 130px;
    padding: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

.produtos__container {
    width: 1136px;
    height: 306;
    display: flex;
    flex-direction: column;
    margin: 64px 152px;
}

.produtos__container__apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos__container__apresentacao h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.produtos__container__apresentacao a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
    text-decoration: none;
}

.produtos__container__imagens ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding: 0;
}

.nome__produto {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #464646;
}

.preco_produto {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}

.produtos__container__imagens a {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2A7AE4;
    text-decoration: none;
}

.faleConosco {
    display: flex;
    width: 1440px;
    height: 368px;
    gap: 115px;
    align-items: center;
    justify-content: center;
    background: #EAF2FD;
    
}

.faleConosco__container {
    width: 1136px;
    height: 240px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 112px;
}

.faleConosco__container__logo {
    flex: none;
}

.faleConosco__container__links {
    display: flex;
    flex-direction: column;
    width: 176px;
    
    gap: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #464646;
}

.faleConosco__container__links a {
    text-decoration: none;
}

.faleConosco__container__contato {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 560px;
    height: 240px;
    justify-content: space-between;
}

.faleConosco__container__contato p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.faleConosco__container__contato__formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;   
}

.faleConosco__container__contato__formulario__nome {
    height: 40px;
    border-radius: 4px;
    background: #FFFFFF;
    border-width: 0;
    box-shadow: 0 1px 0 0 #B4B8C5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #A2A2A2;
}

.faleConosco__container__contato__formulario__mensagem {
    height: 82px;
    border-radius: 4px;
    background: #FFFFFF;
    border-width: 0;
    box-shadow: 0 1px 0 0 #B4B8C5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #A2A2A2;
}

.faleConosco__container__contato__botao {
    height: 51px;
    width: 165px;
    background: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 0;
}

.criadoPor {
    width: 1440px;
    height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.criadoPor p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

/* CSS Login */

.login {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 475px;
    background: #F5F5F5;
}

.login__formulario {
    margin: auto;
    width: 423px;
    height: 291px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.login__formulario p {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.login__formulario__dados {
    height: 63px;
    border-radius: 4px;
    background: #FFFFFF;
    border-width: 0;
    box-shadow: 0 1px 0 0 #B4B8C5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #A2A2A2;
}

.login__formulario__botao {
    height: 62px;
    background: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    border-width: 0;
}

/* CSS Produtos */

.todosProdutos {
    height: 1070px;
    width: 1440px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.todosProdutos p {
    margin: 0;
}

.todosProdutos__lista {
    width: 1136px;
    height: 942px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.todosProdutos__lista__topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.todosProdutos__lista__topo a {
    width: 165px;
    background-color: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 16px 0;
    color: #FFFFFF;
}

.todosProdutos__lista__produtos {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.todosProdutos__lista__produtos__linhas {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
    list-style: none;
}

.todosProdutos__lista__produtos__linhas__conteudo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.todosProdutos__lista__produtos__linhas__conteudo__texto {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #464646;
}

.todosProdutos__lista__produtos__linhas__conteudo__preco {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #464646;
}